<%= render "shared/header" %>
<h1>New Travel</h1>

<%= render 'shared/error_messages', model: @article %>

<%= render 'form', article: @article, prefecture_id: @article.prefecture_id %>

<%= render "shared/footer" %>
