header.header {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #D8D8D8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #87CEFA;
  z-index: 2; 
}


header.header div.header__bar.row {
  position: relative;
}

header.header div.header__bar.row h1.grid-6 {
  font-size: 20px;
  line-height: 41px;
  float: left;
  margin-top: 10px;
  text-align:center
}

header.header div.header__bar.row h1.grid-6 a {
  display: block;
  font-size: 40px;
  font-weight: 900;
  text-decoration: none;
  color: #fff;
  font-family: system-ui;
}

header.header div.header__bar.row div.grid-6 {
  float: right;
  text-align: right;
  margin-right: 50px;
}

header.header div.header__bar.row div.grid-6 a.post {
  width: 120px;
  display: inline-left;
  margin-left: 10px;
}


header.header .user_nav ul.user__info li {
  position: relative;
}

header.header .user_nav .user__info {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 150px;
  border: 1px solid #d8d8d8;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 3; 
}

header.header .user_nav span:after {
  content: '▼';
  font-size: .7em;
  margin-left: 5px;
  position: absolute;
  top: 10px;
  transform: translateY(-50%);
 color: #191970;
}

header.header .user_nav:hover .user__info {
  display: block;
  list-style: none;
}

header.header .user_nav .user__info li a {
  display: block;
  padding: 10px 0;
  text-align: left;
  text-decoration: none;
  color: black;
  font-size: 15px;
}











