/* _form.html.erb */
.main-articles {
  padding-top: 100px;
  margin-left: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140vh;
}


.sub-articles {
  margin-top: 50px;
  width: 60%; 
  max-width: 600px; 
}


.img-upload {
  margin-top: -200px;
  margin-bottom: 30px;
}

.field {
  margin-bottom: 20px;
}

.check {
  display: flex;
  align-items: center;

  
}
.indispensable {
  color: red;
}

.click-upload {
  border: 2px dashed #ddd;
  padding: 10px;
  text-align: center;
  margin-bottom: 30px;
}

.wide-text-area {
  width: 300px;
  height: 100px;
}

.check .field {
  margin-right: 20px;
}

.new-article-btn {
  display: block;
  margin-top: 20px;
  padding: 10px 145px;
  background-color: #4285f4;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

.new-back-btn {
  display: block;
  margin-top: 20px;
  padding: 10px;
  background-color: #C0C0C0;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 5px 
}

