<%= render "shared/header" %>
<div data-turbo="false">
<div class="map-main">
  <div class="map-sub">
    <h2 class="map-title">目指せ！47都道府県制覇の旅</h2>
    <p class='map-explain'>
      〜 あなたの旅行の思い出をこの「旅行日記」に残してみませんか 〜
    </p>
    <p class='map-explain'>
      「旅行日記」の目的は、ユーザーが旅行に関する情報をシェアし、<br>新しい旅行のアイデアを得たりすることができます。<br>ユーザーがより豊かな旅行体験を享受できるようサポートします。
    </p>
    <p class='map-arrow-explain'>
      日本地図の都道府県をクリックして、ユーザーの投稿を覗いてみましょう！
      <span class="map-arrow">➡️</span>
    </p>
    <a href="<%= new_article_path %>" class="cta_btn03">
      <span class="cta_btn03-copy">さっそく投稿する</span><br>
        新規投稿する<i class="fas fa-angle-double-right"></i>
    </a>
  </div>

    
  <div class="map">
    <div id="my-map"></div>
      <script type="module" src="<%= asset_path('post.js') %>"></script>
    </div>
</div>
</div>
<%= render "shared/footer" %>

