/* devise/registrations.sessions */
.account-page .account-page__inner {
  width: 980px;
  margin: 60px auto;
  padding: 60px;
  background-color: #fff;
  border-radius: 5px;
}
.account-page .account-page__inner .account-page__inner--left, .account-page .account-page__inner .account-page__inner--right {
  float: left;
  width: 50%;
}
.account-page .account-page__inner:after {
  clear: both;
  content: "";
  display: block;
}
.account-page .account-page__header h2 {
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 40px;
  font-weight: 200;
}
.account-page .account-page__header h2:after {
  content: "";
  display: block;
  width: 60px;
  margin-top: 5px;
  border-bottom: 1px solid #38aef0;
}
.account-page .account-page__header h5 {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 200;
}
.account-page .account-page__header .btn {
  margin-top: 20px;
  color: #fff;
  background-color: #ccc;
  font-size: 14px;
  text-decoration: none;
}
.account-page .field {
  margin-bottom: 10px;
}
.account-page .field .field-label {
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 200;
}
.account-page .field .field-label i {
  font-size: 11px;
}
.account-page .field .field-input input {
  width: 100%;
  padding: 10px;
  letter-spacing: 1px;
}

.account-page .btn, .account-page .btn-guest {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
}

.account-page .btn {
  margin-top: 30px;
  padding: 0 50px;
  color: #fff;
  background-color: #38aef0;
}

.account-page .btn-guest {
  padding: 0 37px;
  color: #fff;
  background-color: #3CB371;
  margin-top: 20px;
  text-decoration: none;

}

.account-page .field-label .field_with_errors {
  display: inline-block;
  color: #d65f4c;
  font-weight: 400;
}
.account-page .field-input .field_with_errors {
  position: relative;
}
.account-page .field-input .field_with_errors:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  background-color: #d65f4c;
}

.guest-user {
  font-size: 40px;
  margin-top: 80px;
}

.main-omniauth-authorize {
  text-align: center;
  margin-top: 200px;
  
}

.sub-omniauth-authorize {
  margin-bottom: 30px;
}

.mail-omniauth {
  text-decoration: none;
  border: 1px solid #00BFFF;
  color: #fff;
  background-color: #00BFFF;
  padding: 10px;
  font-size: 20px;
}

.btn-btn-guest {
  text-decoration: none;
  border: 1px solid #228B22;
  padding: 10px;
  color: #fff;
  background-color: #228B22;
  font-size: 20px;
}

.google-omniauth {
  border: none;
  background: transparent;
}

/* edit.html.erb */
.main-container {
  display: flex;
  justify-content: space-around;
}

.edit-main-mypage {
  top: 100px;
}
 
.contribution {
  position: fixed;
  top: 60px;
  left: 50px;
}

.edit-article-list {
  font-size: 30px;
  font-weight: 900;
  padding-left: 50px;

}


.prefecture-name {
  font-size: 40px;
  color: #ff5555;
}

.new-btns {
  display: flex;
  justify-content: space-around;
}



.new-btn:hover, .new-article-btn:hover {
  background-color: #3c78d8;
}

.back-article-btn:hover .back-btn:hover {
  background-color: #808080;
}

.edit-container {
  position: relative;
  max-width: 100%;
  margin: 0 100px;
  padding: 20px;
  border-radius: 8px;
  height: 200px;
}

.item-lists {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.list {
  border: solid 3px #4ec4d3;
  background-color: #F5FFFA;
  padding: 15px;
  margin-bottom: 20px;
}


.prefecture-name-article {
  font-size: 30px;
  color: #ff5555;
}

.show-article-title {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
  text-align: center;
}

.edit-article-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.article-nickname {
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
}

.article-sub {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.article-container {
  width: 140px;
  height: 40px;
  background: #e4fcff;
  padding: 10px;
  margin: 5px;
  border-top: solid 6px #1dc1d6;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

.article-hotel {
  background: #e4fcff;
  border-top: solid 6px #1dc1d6;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  width: 90%;
  height: 40px;
  padding: 10px;
  margin: 10px 20px;
}

.article-content {
  background: #e4fcff;
  border-top: solid 6px #1dc1d6;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  width: 90%;
  height: 150px;
  padding: 10px;
  margin: 10px 20px;
}

.strong {
  margin-left: 20px;
  font-size: 13px;
}


.edit-destroy {
  display: flex;
  justify-content: space-around;
}

.article-edit-btn {
  border: 1px solid #ff5555;
  color: #FFFFFF;
  font-size: 20px;
  background-color: #ff5555;
  padding: 10px 50px;
  text-decoration: none;
  border-radius: 5px;
}

.article-destroy-btn {
  border: 1px solid #ff5555;
  color: #FFFFFF;
  font-size: 20px;
  background-color: #ff5555;
  padding: 10px 50px;
  text-decoration: none;
  border-radius: 5px;
}

.or-text {
  font-weight: bold;
}

.field-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 20px;
}

.field-container strong {
  position: absolute;
  top: 0;
  font-weight: bold;
}

.edit-footer-top {
  height: 500px;
}