/* devise/registrations.sessions */
.account-page .account-page__inner {
  width: 980px;
  margin: 60px auto;
  padding: 60px;
  background-color: #fff;
  border-radius: 5px;
}
.account-page .account-page__inner .account-page__inner--left, .account-page .account-page__inner .account-page__inner--right {
  float: left;
  width: 50%;
}
.account-page .account-page__inner:after {
  clear: both;
  content: "";
  display: block;
}
.account-page .account-page__header h2 {
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 40px;
  font-weight: 200;
}
.account-page .account-page__header h2:after {
  content: "";
  display: block;
  width: 60px;
  margin-top: 5px;
  border-bottom: 1px solid #38aef0;
}
.account-page .account-page__header h5 {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 200;
}
.account-page .account-page__header .btn {
  margin-top: 20px;
  color: #fff;
  background-color: #ccc;
  font-size: 14px;
}
.account-page .field {
  margin-bottom: 10px;
}
.account-page .field .field-label {
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 200;
}
.account-page .field .field-label i {
  font-size: 11px;
}
.account-page .field .field-input input {
  width: 100%;
  padding: 10px;
  letter-spacing: 1px;
}

.account-page .btn, .account-page .btn-guest {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
}

.account-page .btn {
  margin-top: 30px;
  padding: 0 50px;
  color: #fff;
  background-color: #38aef0;
}

.account-page .btn-guest {
  padding: 0 37px;
  color: #fff;
  background-color: #3CB371;
  margin-top: 20px;
  text-decoration: none;

}

.account-page .field-label .field_with_errors {
  display: inline-block;
  color: #d65f4c;
  font-weight: 400;
}
.account-page .field-input .field_with_errors {
  position: relative;
}
.account-page .field-input .field_with_errors:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  background-color: #d65f4c;
}

.guest-user {
  font-size: 40px;
  margin-top: 80px;
}

.main-omniauth-authorize {
  text-align: center;
  margin-top: 200px;
  
}

.sub-omniauth-authorize {
  margin-bottom: 30px;
}

.mail-omniauth {
  text-decoration: none;
  border: 1px solid #00BFFF;
  color: #fff;
  background-color: #00BFFF;
  padding: 10px;
  font-size: 20px;
}

.btn-btn-guest {
  text-decoration: none;
  border: 1px solid #228B22;
  padding: 10px;
  color: #fff;
  background-color: #228B22;
  font-size: 20px;
}

.google-omniauth {
  border: none;
  background: transparent;
}

/* edit.html.erb */
.main-container {
  display: flex;
  justify-content: space-around;
}